:root {
  --main-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--main-font);
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(var(--tmdbDarkBlue));
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;

}

h1 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 900;
  font-size: 50px;
}

h2 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 900;
  font-size: 30px;
}

h3 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 900;
  font-size: 20px;
}

p{
  margin-top: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  color: #cccccc;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/* Estilos específicos para a barra de rolagem */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #424242;
}

/* Importando a Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,201;1,201&display=swap');